In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("/content/retail_store_sales.csv")
print("Dataset loaded successfully")
print("\nShape of dataset (rows, columns):")
print(df.shape)
print("\nColumn names:")
print(df.columns)
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 5 rows:")
print(df.tail())
print("\nDataset info:")
print(df.info())
print("\nData types:")
print(df.dtypes)
print("\nMissing values in each column:")
print(df.isnull().sum())
print("\nStatistical summary:")
print(df.describe())
print("\nUnique items:")
print(df['Item'].unique())
print("\nPayment method count:")
print(df['Payment Method'].value_counts())
print("\nLocation count:")
print(df['Location'].value_counts())
print("Total rows:", df.shape[0])
print("Total columns:", df.shape[1])
print("Dataset contains missing values that require preprocessing.")
print("Contains numerical and categorical data.")
print("Suitable for data preprocessing and analysis.")

Dataset loaded successfully

Shape of dataset (rows, columns):
(12575, 11)

Column names:
Index(['Transaction ID', 'Customer ID', 'Category', 'Item', 'Price Per Unit',
       'Quantity', 'Total Spent', 'Payment Method', 'Location',
       'Transaction Date', 'Discount Applied'],
      dtype='object')

First 5 rows:
  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5

   Quantity  Total Spent  Payment Method Location Transaction Date  \
0      10.0        185.0  Digital Wallet   Online       2024-04-08
1       9.0        261.0  Digital Wallet   Online       2023-07-23
2       2.0         43.0     Credit Card   Online       2022-10-05
3       9.0        247.5     Credit Card   Online       2022-05-07
4       7.0         87.5  Digital Wallet   Online       2022-10-02

  Discount Applied
0             True
1             True
2            False
3              NaN
4            False

Last 5 rows:
      Transaction ID Customer ID    Category         Item  Price Per Unit  \
12570    TXN_9347481     CUST_18  Patisserie  Item_23_PAT            38.0
12571    TXN_4009414     CUST_03   Beverages   Item_2_BEV             6.5
12572    TXN_5306010     CUST_11    Butchers   Item_7_BUT            14.0
12573    TXN_5167298     CUST_04   Furniture   Item_7_FUR            14.0
12574    TXN_2407494     CUST_23        Food  Item_9_FOOD            17.0

       Quantity  Total Spent Payment Method  Location Transaction Date  \
12570       4.0        152.0    Credit Card  In-store       2023-09-03
12571       9.0         58.5           Cash    Online       2022-08-12
12572      10.0        140.0           Cash    Online       2024-08-24
12573       6.0         84.0           Cash    Online       2023-12-30
12574       3.0         51.0           Cash    Online       2022-08-06

      Discount Applied
12570              NaN
12571            False
12572              NaN
12573             True
12574              NaN

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB
None

Data types:
Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied     object
dtype: object

Missing values in each column:
Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

Statistical summary:
       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

Unique items:
['Item_10_PAT' 'Item_17_MILK' 'Item_12_BUT' 'Item_16_BEV' 'Item_6_FOOD'
 nan 'Item_1_FOOD' 'Item_16_FUR' 'Item_22_BUT' 'Item_3_BUT' 'Item_2_FOOD'
 'Item_24_PAT' 'Item_16_MILK' 'Item_17_PAT' 'Item_13_EHE' 'Item_7_BEV'
 'Item_4_EHE' 'Item_10_FOOD' 'Item_14_FUR' 'Item_20_BUT' 'Item_25_FUR'
 'Item_14_FOOD' 'Item_22_PAT' 'Item_11_FOOD' 'Item_6_PAT' 'Item_21_EHE'
 'Item_25_BEV' 'Item_23_FOOD' 'Item_10_FUR' 'Item_11_BEV' 'Item_23_BUT'
 'Item_22_BEV' 'Item_10_EHE' 'Item_24_BUT' 'Item_8_BEV' 'Item_3_FOOD'
 'Item_12_FOOD' 'Item_16_CEA' 'Item_11_PAT' 'Item_16_BUT' 'Item_5_CEA'
 'Item_19_MILK' 'Item_23_FUR' 'Item_7_FUR' 'Item_15_CEA' 'Item_6_MILK'
 'Item_24_CEA' 'Item_22_CEA' 'Item_22_FOOD' 'Item_2_BUT' 'Item_14_PAT'
 'Item_12_PAT' 'Item_18_FOOD' 'Item_1_PAT' 'Item_4_BEV' 'Item_22_FUR'
 'Item_7_PAT' 'Item_20_CEA' 'Item_20_FOOD' 'Item_11_FUR' 'Item_25_PAT'
 'Item_7_FOOD' 'Item_21_FUR' 'Item_24_FUR' 'Item_8_MILK' 'Item_4_FOOD'
 'Item_14_BEV' 'Item_4_PAT' 'Item_4_MILK' 'Item_7_CEA' 'Item_6_EHE'
 'Item_21_BUT' 'Item_16_PAT' 'Item_25_CEA' 'Item_8_BUT' 'Item_10_CEA'
 'Item_5_FUR' 'Item_9_FOOD' 'Item_21_CEA' 'Item_8_CEA' 'Item_8_EHE'
 'Item_23_MILK' 'Item_23_BEV' 'Item_19_BEV' 'Item_20_BEV' 'Item_24_FOOD'
 'Item_21_MILK' 'Item_6_BEV' 'Item_1_MILK' 'Item_24_MILK' 'Item_2_CEA'
 'Item_18_BUT' 'Item_1_FUR' 'Item_3_MILK' 'Item_11_MILK' 'Item_13_CEA'
 'Item_6_CEA' 'Item_2_FUR' 'Item_21_BEV' 'Item_8_FUR' 'Item_13_BUT'
 'Item_2_BEV' 'Item_7_EHE' 'Item_14_CEA' 'Item_19_EHE' 'Item_18_CEA'
 'Item_11_CEA' 'Item_17_FUR' 'Item_15_MILK' 'Item_20_EHE' 'Item_16_EHE'
 'Item_23_EHE' 'Item_7_BUT' 'Item_1_EHE' 'Item_19_CEA' 'Item_25_FOOD'
 'Item_12_EHE' 'Item_22_EHE' 'Item_13_PAT' 'Item_17_EHE' 'Item_25_BUT'
 'Item_4_CEA' 'Item_2_MILK' 'Item_1_BUT' 'Item_12_BEV' 'Item_5_FOOD'
 'Item_25_EHE' 'Item_9_CEA' 'Item_1_CEA' 'Item_15_FUR' 'Item_15_PAT'
 'Item_5_EHE' 'Item_1_BEV' 'Item_17_BUT' 'Item_3_BEV' 'Item_13_FOOD'
 'Item_11_EHE' 'Item_9_MILK' 'Item_17_FOOD' 'Item_20_PAT' 'Item_9_PAT'
 'Item_10_BEV' 'Item_17_CEA' 'Item_8_PAT' 'Item_13_MILK' 'Item_5_BUT'
 'Item_22_MILK' 'Item_4_FUR' 'Item_17_BEV' 'Item_19_PAT' 'Item_2_PAT'
 'Item_14_BUT' 'Item_20_FUR' 'Item_6_BUT' 'Item_9_FUR' 'Item_12_CEA'
 'Item_15_EHE' 'Item_5_PAT' 'Item_18_MILK' 'Item_6_FUR' 'Item_24_BEV'
 'Item_14_MILK' 'Item_12_FUR' 'Item_18_BEV' 'Item_23_CEA' 'Item_24_EHE'
 'Item_2_EHE' 'Item_23_PAT' 'Item_15_FOOD' 'Item_8_FOOD' 'Item_15_BEV'
 'Item_20_MILK' 'Item_9_EHE' 'Item_11_BUT' 'Item_18_EHE' 'Item_5_MILK'
 'Item_3_FUR' 'Item_19_BUT' 'Item_3_CEA' 'Item_19_FUR' 'Item_7_MILK'
 'Item_9_BEV' 'Item_10_BUT' 'Item_18_FUR' 'Item_25_MILK' 'Item_4_BUT'
 'Item_15_BUT' 'Item_21_PAT' 'Item_21_FOOD' 'Item_13_BEV' 'Item_5_BEV'
 'Item_3_PAT' 'Item_13_FUR' 'Item_18_PAT' 'Item_12_MILK' 'Item_10_MILK'
 'Item_16_FOOD' 'Item_19_FOOD' 'Item_14_EHE' 'Item_3_EHE' 'Item_9_BUT']

Payment method count:
Payment Method
Cash              4310
Digital Wallet    4144
Credit Card       4121
Name: count, dtype: int64

Location count:
Location
Online      6354
In-store    6221
Name: count, dtype: int64
Total rows: 12575
Total columns: 11
Dataset contains missing values that require preprocessing.
Contains numerical and categorical data.
Suitable for data preprocessing and analysis.